a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
body{
    color: white;
    font-family: 'wedfontkitregular',sans-serif;
}
.header{
    background-image: url(./images/bg1.png);
    background-size: cover;
    background-position:center;
    padding-top:292px;
    padding-bottom: 135px;
}
.menu{
    background-color: #5474fd;
    padding: 27px 0px;
}
.whychooseus{
    background-image: url(./images/bg2.png);
    background-size: cover;
    background-position:center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.howitworks{
    background-color: #333333;
    padding-top:80px;
    padding-bottom: 120px;
}
.sectioncontent{
    background-image: url(./images/bg3.png);
    background-size: cover;
    background-position:center;
    padding-top: 230px;
    padding-bottom: 100px;
}
.sectioncontent2{
    background-image: url(./images/bg4.png);
    background-size: cover;
    background-position:center;
    padding-top: 230px;
    padding-bottom: 100px;
}
.testimonial{
    background-image: url(./images/bg5.png);
    background-size: cover;
    background-position:center;
    padding-top: 150px;
    padding-bottom:200px ;
}
.footer{
    background-color: #232323;
    padding-top:95px;
    padding-bottom: 66px;
}
.fa-quote-left{
    position: absolute;
    color: #5474fd;
    font-size: 36px;
    top: 25%;
    left: 4%;
}
