.title{
    &__testimonial{
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
        white-space: nowrap;
        margin-bottom: 100px;
    }
    &__footer{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
    }
}